{extend name="common/master"}

{block name="title"}<title>商城首页</title>{/block}

{block name="css"}
<link rel="stylesheet" href="/static/home/index/css/okIndex.css"/>
<link rel="stylesheet" type="text/css" href="/static/home/details/css/muiToolBar-1.0.0.css"/>
{/block}

{block name="js-header"}
<script type="text/javascript" src="/static/home/index/js/slides.min.jquery.js"></script>
{/block}





{block name="content"}

<div class="ok-body">
    <div class="body-content">
        <img class="homepage-title" src="static/home/index/images/homepage-title.png" />
        <div class="homepage-games">
            <img class="game" data-id="g-1" src="static/home/index/images/game1.png" />
            <img class="game" data-id="g-2" src="static/home/index/images/game2.png" />
            <img class="game" data-id="g-3" src="static/home/index/images/game3.png" />
        </div>
        <div class="homepage-gameinfo">
            <img class="gameinfo-bg" src="static/home/index/images/gameinfo-bg.png" />
            <div class="gameinfo g-1" style="display: block">
                <img class="gameinfo-arrow" src="static/home/index/images/gameinfo-arrow.png" />
                <img class="game" src="static/home/index/images/game1.png" />
                <div class="info">
                    <div class="title">喵喵爱消除</div>
                    <div class="desc">一款经典玩法的宝石题材消除游戏。玩法简单，易于上手，适合打发时间。画面还是相当的给力，动画效果也很是炫丽。</div>
                    <a href="/home/entry/details/gid/1">查看详情</a>
                </div>               
            </div>
            <div class="gameinfo g-2">
                <img class="gameinfo-arrow" src="static/home/index/images/gameinfo-arrow.png" />
                <img class="game" src="static/home/index/images/game2.png" />
                <div class="info">
                    <div class="title">萌宠连连看</div>
                    <div class="desc">萌宠连连看是一款有着众多可爱卡通动物看的连连游戏，通过一关一关的冒险，萌宠的样子也会发生变化，从最初的幼年形态变成华丽的宠物。快来过关挑战，让可爱的宠物进化成长吧。</div>
                    <a href="/home/entry/details/gid/2">查看详情</a>
                </div>               
            </div>
            <div class="gameinfo g-3">
                <img class="gameinfo-arrow" src="static/home/index/images/gameinfo-arrow.png" />
                <img class="game" src="static/home/index/images/game3.png" />
                <div class="info">
                    <div class="title">宅喵科技消消乐</div>
                    <div class="desc">宅喵主题的消消乐游戏,宅喵文明风格的画面绚丽多彩，给玩家留下了巨大的想象空间。游戏的动画十分出色，落下的岩石会被小人自动搬运，而特别的砖块宝物消除效果十分华丽。被誉为十大奇迹的神秘建筑吸引着玩家在游戏中不断探索……交换。</div>
                    <a href="/home/entry/details/gid/3">查看详情</a>
                </div>               
            </div>
        </div>
     </div>
</div>

    

<script>
    $(function(){
        var HOME = {
            init:function(){
                this.loadImage();
            },
            loadImage: function(){
                $('.lazy').lazyload({
                    threshold: 200,
                    time: 200,
                    effect: 'fadeIn'
                });
            }
        };
        HOME.init();

    });
</script>

<script>
    //登录按钮
    $('.login_up_i').click(function () {
        $('.login_up').toggle();
    });

    $('.homepage-games .game').hover(function (e) {
        var $this = $(e.target)
        var id = $this.data('id')
        $('.gameinfo').hide()
        $('.gameinfo.' + id).show()
    }, function () {

    })

</script>
{/block}






{block name="js-footer"}{/block}
