{extend name="common/master"}

{block name="title"}<title>宅喵科技网</title>{/block}

{block name="css"}
<link rel="stylesheet" href="/static/home/index/css/okIndex.css"/>
<link rel="stylesheet" type="text/css" href="/static/home/details/css/muiToolBar-1.0.0.css"/>
{/block}

{block name="js-header"}
<script type="text/javascript" src="/static/home/index/js/slides.min.jquery.js"></script>
{/block}





{block name="content"}

<div class="ok-body">
    <div class="body-content">
        <img class="homepage-title" src="static/home/index/images/homepage-title.png" />
        <div class="homepage-games">
            {goods rows="3" hot="1"}
                <img class="game" data-id="g-{$field['num']}" src="{:think\\Config::get('oss.publicUrl') . $field['list_pic']}" />
            {/goods}
        </div>
        <div class="homepage-gameinfo">
            <img class="gameinfo-bg" src="static/home/index/images/gameinfo-bg.png" />
            {goods rows="3" hot="1"}
            <div class="gameinfo g-{$field['num']}">
                <img class="gameinfo-arrow" src="static/home/index/images/gameinfo-arrow.png" />
                <img class="game" src="{:think\\Config::get('oss.publicUrl') . $field['list_pic']}" />
                <div class="info">
                    <div class="title">{$field['title']}</div>
                    <div class="desc">{$field['slogan']}</div>
                    <a href="/home/entry/details/gid/{$field['gid']}">查看详情</a>
                </div>               
            </div>
            {/goods}
        </div>
        <style>
            .gameinfo.g-1 {
                display: block;
            }
        </style>
     </div>
</div>

    

<script>
    $(function(){
        var HOME = {
            init:function(){
                this.loadImage();
            },
            loadImage: function(){
                $('.lazy').lazyload({
                    threshold: 200,
                    time: 200,
                    effect: 'fadeIn'
                });
            }
        };
        HOME.init();

    });
</script>

<script>
    //登录按钮
    $('.login_up_i').click(function () {
        $('.login_up').toggle();
    });

    $('.homepage-games .game').hover(function (e) {
        var $this = $(e.target)
        var id = $this.data('id')
        $('.gameinfo').hide()
        $('.gameinfo.' + id).show()
    }, function () {

    })

</script>
{/block}






{block name="js-footer"}{/block}
