.ok-body{padding-bottom:30px;min-width: 1200px;background: #fff;font-family: '微软雅黑';}
.ok-body a{transition: .3s opacity;}
.ok-body a:hover{text-decoration: none;opacity: .7;}
.ok-body *{-webkit-box-sizing: border-box;box-sizing: border-box;}
.w-1200{margin:0 auto;width: 1200px;}
.bd{border: 1px solid #eaeaea;}
.sp-block{display: block;overflow: hidden;word-break: break-all;}
.sp-iblock{display: inline-block;}

.body-content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.homepage-title {
    width: 100%;
    margin: 60px 0;
}
.homepage-games {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.body-content .game {
    display: block;
    width: 360px;
    height: 360px;
}
.homepage-gameinfo {
    display: block;
    position: relative;
    width: 100%;
    height: 450px;
    margin-top: 50px;
}
.homepage-gameinfo .gameinfo-bg {
    position: absolute;
    left: -8px;
}
.homepage-gameinfo .gameinfo-arrow {
    position: absolute;
    top: -18px;
}
.g-1 .gameinfo-arrow {
    left: 164px;
}
.g-2 .gameinfo-arrow {
    left: 580px;
}
.g-3 .gameinfo-arrow {
    left: 1000px;
}
.gameinfo {
    display: none;
    position: relative;
    box-sizing: border-box;
    padding: 77px 107px;
}
.gameinfo .game {
    display: inline-block;
    width: 268px;
    height: 268px;
    vertical-align: top;
}
.gameinfo .info {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 660px;
    height: 268px;
    margin-left: 50px;
    padding: 20px 0;
    vertical-align: top;
}
.gameinfo .info .title {
    margin-bottom: 30px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
}
.gameinfo .info .desc {
    color: #757575;
    font-size: 18px;
}
.gameinfo .info a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 114px;
    height: 40px;
    border-radius: 100px;
    background: #e63c3c;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

/* 导航 */
.ok-nav{display:none;position:fixed;left:50%;top:50%;z-index:600;margin-left:-715px;margin-top:-180px;width:108px;border: 1px solid #eaeaea;background-color: #fff;font-family: '微软雅黑';}
.ok-nav a{display: block;padding:0 10px;line-height:36px;text-align: center;font-size: 14px;font-family: '微软雅黑';}
.ok-nav a:hover{color: #e10808;text-decoration: none;}
.ok-nav a.on{background-color: #e10808;text-decoration: none;color: #fff;}
.ok-nav a.bold{font-weight: bold;}
.ok-nav a span{display: block;padding:10px 0;line-height:20px;border-bottom: 1px dotted #eaeaea;}
.ok-nav a.on span{position: relative;bottom: -1px;}
.ok-nav a.ok-bak span{padding:5px;border-bottom: none;font-size: 16px;color: #999999;}
.ok-nav .code-box{position: relative;padding-top:8px;background-color: #f1f1f1;}
.ok-nav .code-box i{color: #e10808;}
.code-box p{line-height: 16px;font-weight: 600;}
.ok-nav .code-text{padding-top:0;font-size: 12px;line-height: 16px;}
.ok-nav .code-h1{color: #e10808;}
.ok-nav .code-box:hover{color: inherit;}

.nav-small{width: 50px;text-align: center;margin-left: -660px;}
.nav-small a span{line-height: 16px;}
.nav-small .code{display:none;position: absolute;top:0;right: -110px;padding: 5px;border: 1px solid #eaeaea;background-color: #fff;}
.nav-small .code i{position: absolute;bottom:45px;left: -8px;display: block;width:9px;height:9px;background: url(http://s.hqbcdn.com/assets/v4/images/newindex/arrow.png) no-repeat center center;}

.nav-small .code-box{font-size: 12px;background-color:#f3f3f3;}
